.product{
    margin-bottom: 108.5px;
}

.product-text-wrap{
    margin-bottom: 100px;
}

.product-title {
    margin-bottom: 18px;
}

.product-info {
    color: #525252;
    font-size: 12px;
}

.product-name{
    white-space: nowrap;
}

.product-item {

    &:not(:last-child){
        margin-bottom: 66px;
    }

    &:nth-child(4){
        margin-bottom: 0;
    }

    &:nth-child(5){
        margin-bottom: 0;
    }

    &::before {
        display: block;
        width: 65px;
        height: 65px;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        content: "";
    }

    &:first-child::before {
        background-image: url("../images/phone.svg");
    }

    &:nth-child(2)::before {
        background-image: url("../images/pc-game.svg");
    }

    &:nth-child(3)::before {
        background-image: url("../images/ps4.svg");
    }

    &:nth-child(4)::before {
        background-image: url("../images/vr.svg");
    }
    &:nth-child(5)::before {
        background-image: url("../images/vr-design.svg");
    }
    &:last-child::before {
        background-image: url("../images/3d.svg");
    }
}

.product-name {
    margin-bottom: 25.5px;
    font-size: 16px;
}

@include mobile-first(768px) {

    .product{
        margin-bottom: 133px;
    }

    .product-title {
        margin-bottom: 24px;
    }

    .product-info {
        font-size: 16px;
        line-height: 30px;
    }

    .product-item{
        &:nth-child(3){
            margin-bottom: 0;
        }

        &:nth-child(4){
            margin-bottom: 0;
        }
    }
}

@include mobile-first(992px){
    .product-wrap{
        padding: 0px 50px;
    }
}